modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3001

[[ports]]
localPort = 24679
externalPort = 3002

[[ports]]
localPort = 24680
externalPort = 3003

[[ports]]
localPort = 24681
externalPort = 4200

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
POE_API_KEY = "QF6ucv7Te3nWofhGsoOzzBDR-CzMLf9LsIDOJ6-GqgU"
SUPABASE_URL = "https://idmivdyxedmfflobkspf.supabase.co"
SUPABASE_PUBLISHABLE_KEY = "sb_publishable_c6Kif4JsswryKLlgInzSYQ_VudP7HqU"

[agent]
integrations = ["resend:1.0.0"]
